<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Okostükör beállítása</title>
    <link rel="shortcut icon" type="image/png" href="static/icon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">   
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">

    <style>
        .w3-bar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body class="w3-light-gray">
    <div class="w3-bar w3-card-4 w3-blue-gray">
        <a href="/" class="w3-bar-item w3-button w3-hover-blue">Beállítások</a>
        <a href="/meresek" class="w3-bar-item w3-button w3-indigo  w3-hover-blue">Mérések</a>
      </div>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="chart"></canvas>
    </div>
</body>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for adat in adatok %}'{{adat.date}}', {% endfor %}],
            datasets: [{
                label: 'Hőmérsékletek',
                data: [{% for adat in adatok %}{{adat.temperature}}, {% endfor %}],
                backgroundColor: "rgba(255,0,0,0.5)",
                pointBackgroundColor: "rgba(0,0,0,0.8)",
                pointBorderColor: "rgba(0,0,0,0.8)",
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
</html>
